:root{
    font-family:Arial, Helvetica, sans-serif
}

.grid-container{
    display:grid;
    padding:4px; 
    margin: -15px -15px;
    grid-template-areas: "sidebar header " 
                        "sidebar main";
    /* grid-template-rows: 100px 300px; */
    grid-template-columns: 150px 400px;  
}


.item-a{
    grid-area: header;
    display:inline-grid;
    padding:5px;
    background:white; 
    gap: 15px;
    grid-template-columns: repeat(7,110px) ; 
}

#navbar{
    grid-column-start:1;
    grid-column-end: 5;
    margin:5px;
    padding:10px;
    align-items:center;
}
input{
    width: 350px;
    border-radius: 5px;
}

#image2{
    grid-column-start:1;
    grid-row-start:2;
    display:block;
    margin:auto;
}
#profile2{
    grid-column-start:2;
    grid-column-end: 7;
}

#profileimg{
    grid-column-start:5;
    grid-column-end:6;
    display:flex;
    align-items:center; 
    justify-content:center;
}


#profile{
    grid-column-start:5;
    grid-column-end:8;
    display:flex;
    align-items:center; 
    justify-content:right;
}

button{
    align-items:center;
    background:steelblue;
    border-radius:15px;
    color:white;
    padding:8px;
    margin-right:10px;
    width:75px;   
}

.buttons{
    display:flex;
    align-items: center;
    justify-content: center;
}


.item-b{
    grid-area: sidebar;
    background:darkcyan;
}

.sidebar{
    display:grid;
    padding:5px;
    margin-left:10px;
    gap:15px;
    color:white;
    grid-template-columns: 25px 25px;
    text-align:center;
    align-items:center;
}

.item-c{
    grid-area: main;
    display:inline-grid;
    padding:5px;
    /* border:2px solid  black;   */
    background:white;
    gap: 10px;
    grid-template-columns: "a", ;
}


.projects{
    text-align:center;
    display:inline-grid;
    background: steelblue;
    margin: -5px -5px;
    padding:19px;
    gap: 12px;
    grid-template-rows: 25px 200px 200px;
    grid-template-columns: 350px 350px 150px;    
}

.project-header{
    grid-column-start:1;
    grid-column-end: 3;
    text-align: left;
    font-size:large
}

.project-side{
    grid-column-start:3;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 3;
    gap: 12px;

    text-align: left;
    font-size:large;
    display:inline-grid;
    grid-template-columns: 150px; 

}

.announce-item{
    display:inline-grid;
    background:white;
    gap: 12px;
    padding:12px;
    border-radius: 10px;
    box-shadow: 5px 5px 5px rgb(45, 84, 116);


}

.project-item{
    background:white;
    gap: 12px;
    padding:12px;
    border-radius: 10px;
    text-align: left;
    box-shadow: 5px 5px 5px rgb(45, 84, 116);
}

h4{
    font-size:18px;
    margin: -2px -5px;
}

